.horizontal-scroll-section {
    display: flex;
    overflow-x: auto; /* Allows x-axis scrolling */
    gap: 1rem;
    height: 100vh;
    scroll-snap-type: x mandatory;
    position: relative;
    background: yellowgreen;
}

.card {
    scroll-snap-align: start;
    min-width: 80vw;
    padding: 2rem;
    background-color: #f0f0f0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
